name: client
description: "A new Flutter project."
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.9.2
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any
  cupertino_icons: ^1.0.8
  fl_chart: ^1.1.1
  flutter_secure_storage: ^10.0.0
  google_sign_in: ^6.3.0
  sign_in_with_apple: ^6.1.2
  http: ^1.2.2
  uuid: ^4.5.1
  provider: ^6.1.2
  speech_to_text: ^7.3.0
  flutter_markdown: ^0.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  generate: true
  uses-material-design: true
  assets:
    - icon.png
    - icon_transparent.png
